body{
    background-color: #202020;
    color: aliceblue;
}
.text-center{
    text-align: center;
}
.main-box{
    display: flex;
    justify-content: space-around;
    gap:1%
}
.main-left{
    background-color: #202020;
    /* height: 100vh; */
    flex-grow: 1;

}
.main-center{
    background-color: #303030;
    /* height: 100vh; */
    flex-grow: 3;
    padding: 2%;
}
.main-right{
    background-color: #202020;
    /* height: 100vh; */
    flex-grow: 1;
}
.chart-cont{
  padding-top: 5%;
  padding-bottom: 10%;

}
#chart-div{
    display: table;
  margin: 0 auto;
  border: 1px solid black;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 2px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2%;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 2px;
}
.btn{
    background-color:rgb(243, 78, 12);
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    color: white;
    width: 100%;
    text-align: center;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1290px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 1290px) {
    /* For mobile phones: */
    
  }